data/raw/*
!data/raw/.gitkeep
data/cleaned/*
!data/cleaned/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/versions/*
!models/versions/.gitkeep
models/*.pkl
reports/
__pycache__/
*.pyc
.DS_Store
*.log
*.db